numpy==1.24.3
pandas==2.0.3
jupyter==1.0.0
matplotlib==3.7.2
scikit-learn==1.3.0


# ======= for ECA and causal framework analysis =======
''' ECA code by Donges et al. (2016) is written in R, avaible here: https://github.com/JonatanSiegmund/CoinCalc. 
We use the Python implementation of the ECA method, so we had to install the R2py package to run the R code from Python.
Loading of the R code is done in the ECA.ipynb notebook, where we also run the ECA analysis.'''

#yml file:  
name: ECA
channels: 
  - conda-forge
dependencies: 
  - iris
  - jupyter
  - pip
  - python >=3.12,<3.13
  - pandas
  - numpy
  - scipy
  - seaborn
  - matplotlib
  - pyspharm
  - pip


# ======= for storm tracking =======
'''For the storm tracking, we use the huracanpy package, which is a Python implementation of the TRACK algorithm by Hodges (1994).
The package is available here: https://github.com/elenadstr/huracanpy '''